<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1 i18n [translate]="'app.name'"></h1>
    <span class="fill-remaining-space"></span>
    <span>
      <a
        (click)="useLanguage('en')"
        *ngIf="currentLang != 'en'"
        [translate]="'language.english'"
      ></a>
      <a
        (click)="useLanguage('fr')"
        *ngIf="currentLang != 'fr'"
        [translate]="'language.french'"
      ></a>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<app-mortgage-calculation></app-mortgage-calculation>

<br />
